<a href="https://colab.research.google.com/github/KatrinaJMD/DAFT_0410/blob/main/challenge_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 =  random.sample(range(100), k=80)
sample_list_1

[10,
 32,
 24,
 96,
 18,
 27,
 79,
 50,
 63,
 98,
 56,
 43,
 1,
 87,
 26,
 85,
 46,
 86,
 90,
 45,
 84,
 75,
 76,
 69,
 60,
 88,
 94,
 0,
 29,
 64,
 62,
 82,
 16,
 59,
 37,
 48,
 12,
 57,
 11,
 53,
 68,
 97,
 61,
 2,
 71,
 89,
 52,
 51,
 21,
 14,
 77,
 4,
 99,
 80,
 65,
 9,
 39,
 35,
 25,
 15,
 44,
 83,
 40,
 36,
 70,
 58,
 54,
 67,
 81,
 38,
 8,
 28,
 34,
 17,
 49,
 22,
 5,
 74,
 47,
 92]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1)
print(set1)
len(set1)

{0, 1, 2, 4, 5, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 21, 22, 24, 25, 26, 27, 28, 29, 32, 34, 35, 36, 37, 38, 39, 40, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 94, 96, 97, 98, 99}

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2 = []

for i in range(80):
    x = random.randint(0,100)
    sample_list_2.append(x)

print(sample_list_2)

[64, 43, 16, 3, 54, 29, 100, 8, 9, 64, 32, 46, 97, 0, 70, 55, 21, 52, 68, 54, 83, 29, 66, 66, 82, 12, 68, 95, 78, 81, 99, 15, 69, 50, 55, 39, 42, 57, 9, 43, 43, 33, 5, 19, 4, 91, 35, 73, 76, 70, 14, 30, 60, 13, 11, 56, 58, 89, 66, 4, 68, 47, 96, 87, 65, 26, 78, 67, 1, 21, 36, 97, 59, 65, 70, 64, 51, 89, 54, 65]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 = set(sample_list_2)
print(set2)
len(set2)

{0, 1, 3, 4, 5, 8, 9, 11, 12, 13, 14, 15, 16, 19, 21, 26, 29, 30, 32, 33, 35, 36, 39, 42, 43, 46, 47, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 64, 65, 66, 67, 68, 69, 70, 73, 76, 78, 81, 82, 83, 87, 89, 91, 95, 96, 97, 99, 100}

58

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
# --------------

# method 1
set3 = []

for i in set1:
    if i not in set2:
        set3.append(i)
print(f"method 1 : {set3}")

# method 2
set3_ = set1.difference(set2)
print(f"method 2 : {set3_}")

# method 3
_set3 = set1 - set2
print(f"method 3 : {_set3}")

# BONUS
print(f"N° of elements in set1 that cannot be found on set2 : {len(set3)}")

method 1 : [2, 10, 17, 18, 22, 24, 25, 27, 28, 34, 37, 38, 40, 44, 45, 48, 49, 53, 61, 62, 63, 71, 74, 75, 77, 79, 80, 84, 85, 86, 88, 90, 92, 94, 98]
method 2 : {2, 10, 17, 18, 22, 24, 25, 27, 28, 34, 37, 38, 40, 44, 45, 48, 49, 53, 61, 62, 63, 71, 74, 75, 77, 79, 80, 84, 85, 86, 88, 90, 92, 94, 98}
method 3 : {2, 10, 17, 18, 22, 24, 25, 27, 28, 34, 37, 38, 40, 44, 45, 48, 49, 53, 61, 62, 63, 71, 74, 75, 77, 79, 80, 84, 85, 86, 88, 90, 92, 94, 98}
N° of elements in set1 that cannot be found on set2 : 35

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
# --------------

# method 1
set4 = []

for i in set2:
    if i not in set1:
        set4.append(i)
print(f"method 1 : {set4}")

# method 2
set4_ = set2.difference(set1)
print(f"method 2 : {sorted(set4_)}")

# method 3
_set4 = set2 - set1
print(f"method 3 : {sorted(_set4)}")

# BONUS
print(f"N° of elements in set2 that cannot be found on set1 : {len(set4)}")

method 1 : [3, 13, 19, 30, 33, 42, 55, 66, 73, 78, 91, 95, 100]
method 2 : [3, 13, 19, 30, 33, 42, 55, 66, 73, 78, 91, 95, 100]
method 3 : [3, 13, 19, 30, 33, 42, 55, 66, 73, 78, 91, 95, 100]
N° of elements in set2 that cannot be found on set1 : 13

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
# --------------

# method 1
set5 = []

for i in set1:
    if i in set2:
        set5.append(i)
print(f"method 1 : {set5}")

# method 2
set5_ = set1.intersection(set2)
print(f"method 2 : {set5_}")

# method 3
_set5 = set1 & set2
print(f"method 3 : {_set5}")

# BONUS
print(f"N° of elements that can be found on both set1 and set2 : {len(set5)}")

method 1 : [0, 1, 4, 5, 8, 9, 11, 12, 14, 15, 16, 21, 26, 29, 32, 35, 36, 39, 43, 46, 47, 50, 51, 52, 54, 56, 57, 58, 59, 60, 64, 65, 67, 68, 69, 70, 76, 81, 82, 83, 87, 89, 96, 97, 99]
method 2 : {0, 1, 4, 5, 8, 9, 11, 12, 14, 15, 16, 21, 26, 29, 32, 35, 36, 39, 43, 46, 47, 50, 51, 52, 54, 56, 57, 58, 59, 60, 64, 65, 67, 68, 69, 70, 76, 81, 82, 83, 87, 89, 96, 97, 99}
method 3 : {0, 1, 4, 5, 8, 9, 11, 12, 14, 15, 16, 21, 26, 29, 32, 35, 36, 39, 43, 46, 47, 50, 51, 52, 54, 56, 57, 58, 59, 60, 64, 65, 67, 68, 69, 70, 76, 81, 82, 83, 87, 89, 96, 97, 99}
N° of elements that can be found on both set1 and set2 : 45

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
58
35
13
45

#### Create an empty set called `set6`.

In [10]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here
set6.update(set3_, set5_)
set6

{0,
 1,
 2,
 4,
 5,
 8,
 9,
 10,
 11,
 12,
 14,
 15,
 16,
 17,
 18,
 21,
 22,
 24,
 25,
 26,
 27,
 28,
 29,
 32,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 67,
 68,
 69,
 70,
 71,
 74,
 75,
 76,
 77,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 92,
 94,
 96,
 97,
 98,
 99}

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
set1 == set6

True

In [13]:
# verify results
print(set1)
print(set6)

{0, 1, 2, 4, 5, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 21, 22, 24, 25, 26, 27, 28, 29, 32, 34, 35, 36, 37, 38, 39, 40, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 94, 96, 97, 98, 99}
{0, 1, 2, 4, 5, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 21, 22, 24, 25, 26, 27, 28, 29, 32, 34, 35, 36, 37, 38, 39, 40, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 94, 96, 97, 98, 99}

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [14]:
# Your code here
print(set1.issubset(set2))
print(set1.issubset(set3_))

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [15]:
# Your code here
set3_.union(set4_, set5_)
print(f"N° of values in set3 : {len(set3_)}")
print(set3_)

set3_.union(set1, set2)
print(f"\nN° of values in set3 : {len(set3_)}")
print(set3_)

N° of values in set3 : 35
{2, 10, 17, 18, 22, 24, 25, 27, 28, 34, 37, 38, 40, 44, 45, 48, 49, 53, 61, 62, 63, 71, 74, 75, 77, 79, 80, 84, 85, 86, 88, 90, 92, 94, 98}

N° of values in set3 : 35
{2, 10, 17, 18, 22, 24, 25, 27, 28, 34, 37, 38, 40, 44, 45, 48, 49, 53, 61, 62, 63, 71, 74, 75, 77, 79, 80, 84, 85, 86, 88, 90, 92, 94, 98}

#### Using the `pop` method, remove the first element from `set1`.

In [16]:
# Your code here
print(f"N° of values in set1 before alteration : {len(set1)}")
print(set1)
set1.pop()
print(f"\nN° of values in set1 after alteration : {len(set1)}")
print(set1)

N° of values in set1 before alteration : 80
{0, 1, 2, 4, 5, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 21, 22, 24, 25, 26, 27, 28, 29, 32, 34, 35, 36, 37, 38, 39, 40, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 94, 96, 97, 98, 99}

N° of values in set1 after alteration : 79
{1, 2, 4, 5, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 21, 22, 24, 25, 26, 27, 28, 29, 32, 34, 35, 36, 37, 38, 39, 40, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 94, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [17]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

# method 1
_set1_ = []
for i in set1:
    if i not in list_to_remove:
        _set1_.append(i)
print(f"method 1 : {_set1_}")

# method 2
list_to_remove = set(list_to_remove)

_set1 = set1
_set1 = _set1 - list_to_remove
print(f"method 2 : {_set1}")

# method 3
set1 = {i for i in set1 if i not in list_to_remove}
print(f"method 3 : {set1}")     

print(f"N° of values in set1 after removing values from the list : {len(set1)}")

method 1 : [2, 4, 5, 8, 10, 12, 14, 15, 16, 17, 18, 22, 24, 25, 26, 27, 28, 32, 34, 35, 36, 37, 38, 40, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 56, 57, 58, 60, 62, 63, 64, 65, 67, 68, 70, 74, 75, 76, 77, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 94, 96, 97, 98]
method 2 : {2, 4, 5, 8, 10, 12, 14, 15, 16, 17, 18, 22, 24, 25, 26, 27, 28, 32, 34, 35, 36, 37, 38, 40, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 56, 57, 58, 60, 62, 63, 64, 65, 67, 68, 70, 74, 75, 76, 77, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 94, 96, 97, 98}
method 3 : {2, 4, 5, 8, 10, 12, 14, 15, 16, 17, 18, 22, 24, 25, 26, 27, 28, 32, 34, 35, 36, 37, 38, 40, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 56, 57, 58, 60, 62, 63, 64, 65, 67, 68, 70, 74, 75, 76, 77, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 94, 96, 97, 98}
N° of values in set1 after removing values from the list : 63