<a href="https://colab.research.google.com/github/KatrinaJMD/DAFT_0410/blob/main/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [Rr]eg[Ee]xp? Lab

# Challenge 1- Regular Expressions

Sometimes, we would like to perform more complex manipulations of our string. This is where regular expressions come in handy. In the cell below, return all characters that are upper case from the string specified below.

In [1]:
# Note to reader(s)
print("""(README!)\n
NOTE TO READERS :
I have created a function to automate the process that is repeatidly used in this challenge.
You will however, be able to see the technique(s) used inside the function to understand how it's built, and check that it still aligns with the exercise that is being asked.
Thank you!\n
KATRINA J, Author.""")

(README!)

NOTE TO READERS :
I have created a function to automate the process that is repeatidly used in this challenge.
You will however, be able to see the technique(s) used inside the function to understand how it's built, and check that it still aligns with the exercise that is being asked.
Thank you!

KATRINA J, Author.

In [2]:
import re

poem = """The apparition of these faces in the crowd;
Petals on a wet, black bough."""

# Your code here:
def regex(search, source):
    results = re.findall(search, source)
    print(f"N° of elements found : {len(results)}")
    return results

search = "[A-Z]"
regex(search, poem)

N° of elements found : 2

['T', 'P']

In the cell below, filter the list provided and return all elements of the list containing a number. To filter the list, use the `re.search` function. Check if the function does not return `None`. You can read more about the `re.search` function [here](https://docs.python.org/3/library/re.html).

In [3]:
data = ['123abc', 'abc123', 'JohnSmith1', 'ABBY4', 'JANE']

# Your code here:
search = "[0-9]"
count = 0
for i in data:
    if re.search(search, i):
        count += 1
        print(i)
print("-" * 24)
print(f"N° of elements found : {count}")

123abc
abc123
JohnSmith1
ABBY4
------------------------
N° of elements found : 4

# Challenge 2 - Regular Expressions II

In the cell below, filter the list provided to keep only strings containing at least one digit and at least one lower case letter. As in the previous question, use the `re.search` function and check that the result is not `None`.

To read more about regular expressions, check out [this link](https://developers.google.com/edu/python/regular-expressions).

In [4]:
data = ['123abc', 'abc123', 'JohnSmith1', 'ABBY4', 'JANE']

# Your code here:
search = "[0-9{1,}][a-z]|[a-z][0-9{1,}]"
for i in data:
    if re.search(search, i):
        print(i)

123abc
abc123
JohnSmith1

# Challenge 3 -  Advanced Regular Expressions

Complete the following set of exercises to solidify your knowledge of regular expressions.

### 1. Use a regular expression to find and extract all vowels in the following text.

In [5]:
text = "This is going to be a sentence with a good number of vowels in it."

In [6]:
search = "[aeiou]"
regex(search, text)

N° of elements found : 21

['i',
 'i',
 'o',
 'i',
 'o',
 'e',
 'a',
 'e',
 'e',
 'e',
 'i',
 'a',
 'o',
 'o',
 'u',
 'e',
 'o',
 'o',
 'e',
 'i',
 'i']

### 2. Use a regular expression to find and extract all occurrences and tenses (singular and plural) of the word "puppy" in the text below.

In [7]:
text = "The puppy saw all the rest of the puppies playing and wanted to join them. I saw this and wanted a puppy of my own!"

In [8]:
search = "pupp[a-z]+"
regex(search, text)

N° of elements found : 3

['puppy', 'puppies', 'puppy']

### 3. Use a regular expression to find and extract all tenses (present and past) of the word "run" in the text below.

In [9]:
text = "I ran the relay race the only way I knew how to run it."

In [10]:
search = "r[au]n"
regex(search, text)

N° of elements found : 2

['ran', 'run']

### 4. Use a regular expression to find and extract all words that begin with the letter "r" from the previous text.

In [11]:
search = "r[a-z]+"
regex(search, text)

N° of elements found : 4

['ran', 'relay', 'race', 'run']

### 5. Use a regular expression to find and substitute the letter "i" for the exclamation marks in the text below.

In [12]:
text = "Th!s !s a sentence w!th spec!al characters !n !t."

In [13]:
re.sub("!", "i", text)

'This is a sentence with special characters in it.'

### 6. Use a regular expression to find and extract words longer than 4 characters in the text below.

In [14]:
text = "This sentence has words of varying lengths."

In [15]:
search = "[a-zA-Z]{4,}"
regex(search, text)

N° of elements found : 5

['This', 'sentence', 'words', 'varying', 'lengths']

### 7. Use a regular expression to find and extract all occurrences of the letter "b", some letter(s), and then the letter "t" in the sentence below.

In [16]:
text = "I bet the robot couldn't beat the other bot with a bat, but instead it bit me."

In [17]:
search = "b[a-z]+t"
regex(search, text)

N° of elements found : 7

['bet', 'bot', 'beat', 'bot', 'bat', 'but', 'bit']

### 8. Use a regular expression to find and extract all words that contain either "ea" or "eo" in them.

In [18]:
text = "During many of the peaks and troughs of history, the people living it didn't fully realize what was unfolding. But we all know we're navigating breathtaking history: Nearly every day could be — maybe will be — a book."

In [19]:
search = "[a-zA-Z]{1,}[e][a][a-zA-Z]+|[a-zA-Z]{1,}[e][o][a-zA-Z]+"
regex(search, text)

N° of elements found : 5

['peaks', 'people', 'realize', 'breathtaking', 'Nearly']

### 9. Use a regular expression to find and extract all the capitalized words in the text below individually.

In [20]:
text = "Teddy Roosevelt and Abraham Lincoln walk into a bar."

In [21]:
search = "[A-Z][a-z]+"
regex(search, text)

N° of elements found : 4

['Teddy', 'Roosevelt', 'Abraham', 'Lincoln']

### 10. Use a regular expression to find and extract all the sets of consecutive capitalized words in the text above.

In [22]:
search = "[A-Z][a-z]+\s[A-Z][a-z]+"
regex(search, text)

N° of elements found : 2

['Teddy Roosevelt', 'Abraham Lincoln']

### 11. Use a regular expression to find and extract all the quotes from the text below.

*Hint: This one is a little more complex than the single quote example in the lesson because there are multiple quotes in the text.*

In [23]:
text = 'Roosevelt says to Lincoln, "I will bet you $50 I can get the bartender to give me a free drink." Lincoln says, "I am in!"'

In [24]:
# method 1
search = '"(.*?)"'
regex(search, text)

N° of elements found : 2

['I will bet you $50 I can get the bartender to give me a free drink.',
 'I am in!']

In [25]:
# method 2
search = '"([^"]*)"'
regex(search, text)

N° of elements found : 2

['I will bet you $50 I can get the bartender to give me a free drink.',
 'I am in!']

**NOTE TO SELF *for future [reference](https://bobbyhadz.com/blog/python-extract-string-from-between-quotes)*.**

- The parentheses **`()`** in RegEx ***match whatever is inside*** and indicate the **start** and **end** of a **group**.
    > The group's contents can still be retrieved after the match.
- The square brackets **`[]`** are used to indicate ***a set of characters***.
- The caret **`^`** at the *beginning* of the set means "***NOT***".
    > In other words, match all characters that are NOT a double quote.

- The asterisk **`*`** ***matches the preceding*** RegEx (*anything but double quotes*) **zero or more times.**

In its entirety, RegEx **matches zero or more characters** that are **not double quotes itself** and are **inside of double quotes**.

### 12. Use a regular expression to find and extract all the numbers from the text below.

In [26]:
text = "There were 30 students in the class. Of the 30 students, 14 were male and 16 were female. Only 10 students got A's on the exam."

In [27]:
# solution 1
search = "\d"
regex(search, text)

N° of elements found : 10

['3', '0', '3', '0', '1', '4', '1', '6', '1', '0']

In [28]:
# solution 2
search = "\d\d"
regex(search, text)

N° of elements found : 5

['30', '30', '14', '16', '10']

In [29]:
# solution 3
search = "\d+"
regex(search, text)

N° of elements found : 5

['30', '30', '14', '16', '10']

### 13. Use a regular expression to find and extract all the social security numbers from the text below.

In [30]:
text = """
Henry's social security number is 876-93-2289 and his phone number is (847)789-0984.
Darlene's social security number is 098-32-5295 and her phone number is (987)222-0901.
"""

In [31]:
search = "[0-9]{3}-[0-9]{2}-[0-9]{4}"
regex(search, text)

N° of elements found : 2

['876-93-2289', '098-32-5295']

### 14. Use a regular expression to find and extract all the phone numbers from the text below.

In [32]:
search = "\W[0-9]{3}\W[0-9]{3}-[0-9]{4}"
regex(search, text)

N° of elements found : 2

['(847)789-0984', '(987)222-0901']

### 15. Use a regular expression to find and extract all the formatted numbers (both social security and phone) from the text below.

In [33]:
search = "[0-9]{3}-[0-9]{2}-[0-9]{4} | \W[0-9]{3}\W[0-9]{3}-[0-9]{4}"
regex(search, text)

N° of elements found : 4

['876-93-2289 ', ' (847)789-0984', '098-32-5295 ', ' (987)222-0901']